= javascript_include_tag ("http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0")

= javascript_tag do
  :plain
    function init_map_field(){
    jQuery(function(){
      var pushpin = null;
      var location = new Microsoft.Maps.Location(#{form.object.send(field.name) || field.default_latitude}, #{form.object.send(field.longitude_field) || field.default_longitude});

      var mapOptions = {
        zoom: #{field.default_zoom_level},
        center: location,
        credentials: "#{field.bing_api_key}"
      };

      var map = new Microsoft.Maps.Map(document.getElementById("#{field.dom_name}"), mapOptions);

  - if form.object.send(field.name) && form.object.send(field.longitude_field)
    :plain
      pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(#{form.object.send(field.name)},#{form.object.send(field.longitude_field)}));
      map.entities.push(pushpin);

  :plain
      Microsoft.Maps.Events.addHandler(map, 'click', function(e) {
        var point = new Microsoft.Maps.Point(e.getX(), e.getY());
        updateLocation(map.tryPixelToLocation(point));
      });

      function updateLocation(location) {
        if(pushpin) {
          pushpin.SetLocation(location);
        } else {
          pushpin = new Microsoft.Maps.Pushpin(location);
          map.entities.push(pushpin);
        }

        map.setView({ center: location });
        jQuery("##{field.latitude_dom_name}").val(location.latitude);
        jQuery("##{field.longitude_dom_name}").val(location.longitude);
      }

    })};
%div.ramf-map-container{:id => field.dom_name, :style => "width:300px;height:200px"}
= form.send :hidden_field, field.name, :id => field.latitude_dom_name
= form.send :hidden_field, field.longitude_field, :id => field.longitude_dom_name
