= javascript_include_tag ("http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0")

= javascript_tag do
  :plain
    jQuery(function() {
      var pushpin = null;
      var location = new Microsoft.Maps.Location(#{form.object.send(field.name) || field.default_latitude}, #{form.object.send(field.longitude_field) || field.default_longitude});

      var mapOptions = {
        center: location,
        credentials: "#{field.bing_api_key}",
        enableSearchLogo: false,
        showDashboard: false,
        showMapTypeSelector: false,
        showScalebar: false,
        zoom: #{field.default_zoom_level}
      };

      var map = new Microsoft.Maps.Map(jQuery("##{field.dom_name}")[0], mapOptions);

  - if form.object.send(field.name) && form.object.send(field.longitude_field)
    :plain
      pushpin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(#{form.object.send(field.name)},#{form.object.send(field.longitude_field)}), { draggable: true });
      map.entities.push(pushpin);
  - else
    :plain
      pushpin = new Microsoft.Maps.Pushpin(location, { draggable: true });
      map.entities.push(pushpin);

  :plain
    Microsoft.Maps.Events.addHandler(pushpin, 'mouseup', function(e) {
      if (e.targetType == 'pushpin') {
        var pinLocation = e.target.getLocation();
        map.setView({center: pinLocation});
        jQuery("##{field.latitude_dom_name}").val(pinLocation.latitude);
        jQuery("##{field.longitude_dom_name}").val(pinLocation.longitude);
      }
    });

    });
%div.ramf-map-container{:id => field.dom_name, :style => "width:300px;height:200px;position:relative"}

%div.control-group
  = form.send :label, field.name, :class => "control-label"
  %div.controls
    = form.send :text_field, field.name, :id => field.latitude_dom_name

%div.control-group
  = form.send :label, field.longitude_field, :class => "control-label"
  %div.controls
    = form.send :text_field, field.longitude_field, :id => field.longitude_dom_name
